body{
    margin: 0;
    padding: 0;
    cursor: default;
}
a{
    text-decoration: none;
}
header {
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 2;
}

header:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: #5f5e59;
    opacity: 0.6;
    z-index: -1;
}

.afterHeader{
    width: 100vw;
    height: 100vh;
    background-image: url("Step Project Ham/Sections background/section-1(header).jpg");
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    position: relative;
}

.logoText{
    font-family: AdobeInvisFont, ﻿Montserrat-Regular, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 16pt;
    margin-left: 8px;
    color: white;
}

.logoText > span {
    font-weight: bold;
    color: #18cfab;
}
.logoPhoto > span{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 40px;
    color: rgba(255, 255, 255, 255);
    position: absolute;
    left: 15px;
}
.logoPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 67px;
    background-image: url("Step Project Ham/photos/Polygon 1@1X.png");
}

.navBar{
    display: flex;
    width: 644px;
    justify-content: space-between;
    align-items: center;
}

.navBar > a {
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #a2a2a1;
}
.navBar > a:hover{
    color: #18cfab;
    transition: .5s;
}

.navBar >a:hover .navBarLine{
    visibility: visible;
    transition: .5s;
}

.navBarLine > span{
   visibility: hidden;
}

.navBarLine{
    position: absolute;
    width: max-content;
    bottom: -2px;
    height: 2px;
    background-color: #18cfab;
    visibility: hidden;
}
.try{
    width: 100vw;
    height: 100vh;
    background: gray;
}

.theHamInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 255);

}

.whatIsHamText{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier,sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.whatIsHamText > span {
    color: #18cfab;
}

.hamCreative{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 69.39649px;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.hamProposition{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light, sans-serif;
    font-size: 29.86685px;
    color: rgba(212, 212, 212, 255);
}

.infoButton {
    text-transform: uppercase;
    width: 166px;
    height: 61px;
    background: #18cfab;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 12.66233px;
    color: rgba(255, 255, 255, 255);
    border-top: 4px solid white;
    border-radius: 5px;
}

.infoButton:nth-of-type(2n){
    background-color: #00cbf6;
    margin-left: 28px;
}

.infoButton:hover{
    cursor: pointer;
}

.infoButtons{
    display: flex;
    flex-direction: row;
    margin-top: 142px;
}

.hamOptionsNav{
    width: 100vw;
    height: 374px;
    display: flex;
}

.option{
    width: 25%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
    border-top: 7px solid #18cfab;
    box-sizing: border-box;
    background-color: #1c2a33;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier,sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #18cfab;
}

.option:nth-of-type(2n){
    border-top: 7px solid white;
    background-color: #18cfab;
   color: white;
}
.optionInfo{
    width: 100%;
    height: 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}


.sprite {
    background-image: url("Step Project Ham/sprite/spritesheet-3.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-Forma-1_1X {
    width: 58px;
    height: 97px;
    background-position: -5px -5px;
}

.sprite-Forma-1_1X-_1_ {
    width: 93px;
    height: 75px;
    background-position: -73px -5px;
}

.sprite-Forma-1_1X-_2_ {
    width: 60px;
    height: 96px;
    background-position: -73px -90px;
}

.sprite-Forma-1_1X-_3_ {
    width: 99px;
    height: 76px;
    background-position: -176px -5px;
}

.sprite-Forma-1_1X-_4_ {
    width: 15px;
    height: 15px;
    background-position: -143px -91px;
}

.sprite-Forma-1_1X-_5_ {
    width: 16px;
    height: 16px;
    background-position: -168px -91px;
}

.sprite-Forma-1_1X-_6_ {
    width: 44px;
    height: 30px;
    background-position: -194px -91px;
}

.sprite-Forma-1_1X-_7_ {
    width: 8px;
    height: 13px;
    background-position: -285px -5px;
}

.sprite-Layer-23_1X {
    width: 12px;
    height: 11px;
    background-position: -285px -28px;
}

.hamServices{
    padding: 82px 0 103px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.hamServices > h2, .amazingWorks > h2, .breakingNews > h2, .galleryOfTheBestImages > h2 {
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    margin: 0 0 37px;
}


.line{
    width: 76px;
    height: 2px;
    background-color: #18cfab;
}

.line:nth-of-type(2n){
    margin-top: 5px;
    margin-left: 12px;
}

.servicesNav{
    margin-top: 70px;
    display: flex;
}

.navElem{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 73px;
    color: rgba(113, 113, 113, 255);
    position: relative;
    border: 2px solid #ebecec;
    border-right: none;
    background-color: #f8fcfe;
}
.navElem:hover{
    transition: .5s;
    background-color: #18cfab;
    color: white;
}
.navElem > span {
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
    font-size: 16.40184pt;
    color: inherit;
}

.navElem:last-child{
    border-right: 2px solid #ebecec;
}

.navElem:hover{
    cursor: pointer;
}
.navElemHover{
    background-color: #18cfab;
    color: white;
    transition: .3s;
    border-color: #18cfab;
}

.navElem:hover.navElem:after{
    transition: .3s;
    visibility: visible;
}

.triangle {
    bottom: -22px;
    left: 85px;
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
}

ul{
    margin: 0;
    padding: 0;
}


.displayNone{
    display: none;
}

.servicesInfoElem {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 139px;
    list-style-type: none;
}

.servicesInfo > li > img{
    width: 194px;
    height: 139px;
}


.servicesInfoText {
    margin-bottom: 105px;
    width: 926px;
    height: 100%;
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light, sans-serif;
    font-size: 14pt;
    color: rgba(119, 119, 119, 255);
    text-align: justify;
}

.purchase{
    background-image: url("Step Project Ham/Sections background/section-2.jpg");
    background-attachment: fixed;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 128px;
    position: relative;
    z-index: 1;
}

.purchase:after{
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    z-index: -1;
}

.purchaseInfo{

    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    text-transform: uppercase;
    font-size: 39.55001px;
    color: rgba(24, 207, 171, 255);
}

.purchaseOption{
    margin: 35px 0 76px;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
    font-size: 16px;
    color: rgba(216, 216, 216, 255);
}

.purchase > .infoButton{
    margin-bottom: 128px;
}

.amazingWorks{
    padding: 97px 0 100px;
    background-color: #f8fcfe;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.worksNav{
    margin: 70px 0;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
    font-size: 13.99928px;
    color: rgba(113, 113, 113, 255);
    background-color: #fff;
    display: flex;
}
.worksNav:hover{
    cursor: pointer;
}

.worksNavElem{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebebeb;
    border-right: none;
    padding: 20px 29px;
    list-style-type: none;
}
.worksNavElemActive{
    color: #18cfab;
    border-top: 2px solid #18cfab;
}
.worksNavElem:last-child{
    border-right: 1px solid #ebebeb;
}

.worksPhotos{
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.worksPhotos > img {
    /*position: relative;*/
}

.workSectionName{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 206px;
    background-color: #fff;
    box-sizing: border-box;
    border-top: 3px solid #18cfab;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imagePhoto{
    height: 206px
}
.workSectionNameIcons{
    display: flex;
}

.firstIconCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #18cfab;
    background-color: #fff;
    margin-right: 5px;
}

.secondIconCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #18cfab;
}

.workInfoText{
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.workInfoText > span:first-child{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier,sans-serif;
    font-size: 23.64284px;
    color: rgba(24, 207, 171, 255);
    text-transform: uppercase;
    margin-bottom: 14px;
}

.workInfoText > span:last-child{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light, sans-serif;
    font-size: 20.26529px;
    color: rgba(138, 138, 138, 255);
}

.imagePhoto{
    position: relative;
}

.imagePhoto > img {
    /*position: absolute;*/
}
.loadMoreButton{
    position: relative;
    margin-top: 70px;
    width: 165px;
    height: 60px;
    border-radius: 7px;
    background-color: #18cfab;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
}

.loadMoreButton:hover{
    cursor: pointer;
}

.hidden {
    opacity: 0;
    transition: all 2s linear;
}

.breakingNews {
    border-top: 2px solid #e1e1e1 ;
    width: 100%;
    padding: 84px 0 133px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.breakingNewsPosts{
    margin-top: 70px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 45px;
}

.breakingNewsPosts > a {
    position: relative;
    display: block;
    text-decoration: none;
    background-color: #f8fcfe;
}

.breakingNewsPosts > a:hover .postTime{
    transition: .3s;
    background-color: #18cfab;
}

.breakingNewsPosts > a:hover .postName{
    transition: .3s;
    color: #18cfab;
}

.postTime{
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #203e38;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
    font-size: 16.42432px;
    color: rgba(255, 255, 255, 255);
}

.postInfo{
    padding: 14px 0 12px 13px;
    border: 2px solid #f8f8f8;
    box-sizing: border-box;
}

.postName{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, sans-serif;
    font-size: 18.47736px;
    color: rgba(113, 113, 113, 255);
    margin-bottom: 14px;
}

.postDescription{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light,sans-serif;
    font-size: 14.37128px;
    color: rgba(119, 119, 119, 255);
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
}

.verticalLine{
    width: 1px;
    height: 14px;
    background-color: rgba(119, 119, 119, 255);
}

.whatPeopleSay{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('Step Project Ham/Sections background/section-3.jpg');
    background-position: center center;
    background-size: 100% 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

.whatPeopleSay > h2{
    margin: 98px 0 31px;
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
    font-size: 36px;
    color: rgba(255, 255, 255, 255);
}
.whatPeopleSay:before{content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.3;
    z-index: -1;
}

.quotes{
    margin: 69px 0 44px;
}

.whatPeopleSayText{
    width: 1098px;
    height: 45px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light, sans-serif;
    font-size: 16px;
    color: rgba(187, 187, 187, 255);
    text-align: center;
}
.hamTeam{
    margin-bottom: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hamWorkerName{
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, ﻿Montserrat-Light, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(24, 207, 171, 255);
}

.hamWorkerPosition{
    margin-top: 5px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat-Light, sans-serif;
    font-size: 14.37128px;
    color: rgba(119, 119, 119, 255);
}

.slider-for .item{

}

.slider-for .item > img{

}
.slider-nav .item {
    position: relative;
    width: 61px;
    height: 61px;
    border-radius: 100%;
    margin-right: 30px;
    overflow: hidden;
    /*background-image: url("sliderFaces/Layer 5@1X.png");*/
    /*background-size: 100% 100%;*/
    /*background-position: center center;*/
}

.slider-nav .item > img{
    width: 100%;
    height: 100%;
}

/*.slider{*/
/*    margin-top: 27px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    !*align-items: center;*!*/
/*    justify-content: space-between;*/
/*    width: 482px;*/
/*    height: 284px;*/
/*}*/

.slick-current .slick-active{
    top: -20px;
    border: 2px solid #18cfab;

}


.slider{
    margin-top: 27px;
    width: 482px;
    height: 284px;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    flex-direction: column;
}

/*.slider-for{*/
/*    position: relative;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.slider-for > .item{
    position: absolute;
    /*width: 143px;*/
    /*height: 143px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    flex-direction: column;

}

.slider-for .item > img {
    margin: 0 auto;
    border: 3px solid #18cfab;
    /*width: 100%;*/
    /*height: 100%;*/
    width: 143px;
    height: 143px;
    border-radius: 100%;
}


.slider-nav{
    margin-top: 57px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-nav > .item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid rgba(233, 233,233, 0);
    outline: none;
}

.slider-nav > .item > img{
    border-radius: 100%;
    box-sizing: border-box;
}

.slider-nav > .item:before, .slider-for > .item:before{
    content: '';
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: rgba(24, 207, 171, 0.4);
    position: absolute;
    z-index: 4;
}

.slider-for .item:before{
    width: 164px;
    height: 164px;
    opacity: .4;
}

/*.slider-nav .item:hover{*/
/*    top: -20px;*/
/*    box-sizing: border-box;*/
/*    border: 2px solid #18cfab;*/
/*}*/

.slick-arrow{
    font-size: 0;
}
.slick-arrow.slick-prev{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    width: 31px;
    height: 31px;
    border: 2px solid gray;
    left: -50px;
    outline: none;
    position: absolute;
    background-color: rgba(211,211,122, 0);
    background-image: url("Step Project Ham/photos/Forma 1@1X (8).png");
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotateZ(180deg);
    box-sizing: border-box;
}
div{
    outline: none;
}
.slick-arrow.slick-next{
    position: absolute;
    width: 31px;
    height: 31px;
    border: 2px solid gray;
    background-color: rgba(211,211,122, 0);
    background-image: url("Step Project Ham/photos/Forma 1@1X (8).png");
    background-repeat: no-repeat;
    background-position: center center;
    right: -50px;
    outline: none;
    box-sizing: border-box;
}

.slick-arrow.slick-prev:hover, .slick-arrow.slick-next:hover{

    transition: .5s;
    background-color: #18cfab;
    border: 2px solid #18cfab;
}

/*.slick-current {*/
/*    !*-webkit-transform: translateY(-24px);*!*/
/*    transform: translateY(-24px);*/
/*    border: 1px solid #19cfab;*/
/*}*/



/*.galleryOfTheBestImages{*/
/*    padding: 98px 0 0;*/
/*    text-align: center;*/
/*}*/


/** { box-sizing: border-box; }*/

/*body { font-family: sans-serif; }*/

/*!* ---- grid ---- *!*/

/*.grid {*/
/*    margin: 0 auto;*/
/*    max-width: 1200px;*/
/*}*/

/*!* clearfix *!*/
/*.grid:after {*/
/*    content: '';*/
/*    display: block;*/
/*    clear: both;*/
/*}*/

/*!* ---- grid-item ---- *!*/

/*.grid-sizer,*/
/*.grid-item {*/
/*    width: 20%;*/
/*}*/

/*.grid-item {*/
/*    height: 120px;*/
/*    float: left;*/
/*    background: #D26;*/
/*    border-radius: 5px;*/
/*    margin-bottom: 19px;*/
/*}*/

/*.grid-item--width2 { width: 370px }*/
/*.grid-item--width3 { width:  60%; }*/

/*.grid-item--height2 { height: 260px; }*/
/*.grid-item--height3 { height: 260px; }*/
/*.grid-item--height4 { height: 360px; }*/
/*.grid-item--height5 { height: 290px; }*/
/*.grid-item--height6 { height: 380px; }*/
/*.grid-item--height7 {height: 168px;}*/


.load {
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 165px;
    border-radius: 7px;
    background-color: #18cfab;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, rgba(0,153,212,0) calc(15% + 100px), rgba(0,99,138,0) calc(85% + 100px), rgba(0,0,0,0.15) 100%);
}
div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.container > div {
    background-color: white;
    width: 15px;
    height: 15px ;
    border-radius: 100%;
    margin: 10px;
    background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
    animation: bounce 1.5s 0.5s linear infinite;
}

@keyframes bounce {
    0%, 50%, 100% {
        transform: scale(1);
        filter: blur(0px);
    }
    25% {
        transform: scale(0.6);
        filter: blur(3px);
    }
    75% {
        filter: blur(3px);
        transform: scale(1.4);
    }
}


